@{
    ViewData["Title"] = "Інформація про персонажа";
}

<h1>@ViewData["Title"]</h1>
<p>Використовуйте цю сторінку, щоб дізнатися більше інформації про конкретного персонажа.</p> 

<p>
    <label>Ім'я персонажа</label><br />
    <input type="text" name="name" />
</p>
<p>
    <input type="submit" value="Дізнатися про персонажа" />
</p>
