@{
    ViewData["Title"] = "Перевірка наявності персонажа в серії";
}

<h1>@ViewData["Title"]</h1>
<p>Використовуйте цю сторінку, щоб перевірити наявність конкретного персонажа в серії.</p> 

<div class="text-center">
    <p>
        <label>Ім'я персонажа</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Назва епізоду</label><br />
        <input type="text" name="episode" />
    </p>
    <p>
        <input type="submit" value="Перевірити" />
    </p> 
</div>
